# LaTeX temp files
/*.aux
/*.log
/*.out
/*.toc
/*.snm
/*.nav

# Output files
/diplomdarbs.pdf

# Image temp files
img/*.tmp.pdf
img/*.pdf_tex
img/perry-comp.pdf
img/perry-cpu.pdf
img/rtl-alu.pdf
img/rtl-unit.pdf

# Table temp files
/*.tbl_tex
